body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; /* Темно-серый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f; /* Темно-серый фон */
}

.container {
    text-align: center;
    padding: 20px;
    position: relative;
}

.coefficients-container {
    display: inline-block;
    background-color: #333; /* Темно-серый фон контейнера коэффициентов */
    padding: 20px; /* Увеличим отступы для контейнера коэффициентов */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff; /* Белый цвет текста */
    font-size: 24px;
    white-space: nowrap; /* Запрет переноса текста на новую строку */
    width: 70%; /* Ширина контейнера коэффициентов */
    margin: 0 auto; /* Центрируем контейнер по горизонтали */
}

.loader {
    width: 100%;
    height: 8px; /* Высота полосы загрузки */
    background-color: #444; /* Цвет фона полосы загрузки */
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px; /* Отступ сверху */
}

.loader-bar {
    width: 0%; /* Начальная ширина полосы загрузки */
    height: 100%;
    background-color: #d9534f; /* Красный цвет для полосы загрузки */
    animation: loadAnimation 60s linear infinite; /* Анимация движения полосы загрузки */
}

@keyframes loadAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.info-container {
    color: #ccc; /* Серый цвет для времени и шанса */
    font-size: 18px;
    margin-top: 10px; /* Отступ сверху */
}

/* Стили для самолетика */
.airplane {
    position: absolute;
    top: -50px; /* Начальное положение над верхней границей экрана */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Центрируем по горизонтали */
    animation: airplaneAnimation 20s linear infinite; /* Анимация полета самолетика */
    z-index: 1; /* Отображаем самолет над фоном */
}

.airplane img {
    width: 50px; /* Размер изображения самолетика */
}

@keyframes airplaneAnimation {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-50px);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
