body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
}

.header {
    margin-bottom: 20px;
}

.logo {
    height: 50px;
}

.coefficients-wrapper {
    position: relative;
    width: 100%;
    height: 240px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

.background-video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes moveStripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 56px 56px;
    }
}

.coefficients-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
}

.coefficient {
    margin: 0 10px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.loader {
    width: 100%;
    height: 8px;
    background-color: #444;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
}

.loader-bar {
    width: 0;
    height: 100%;
    background-color: #d9534f;
    animation: none;
}

@keyframes loadAnimation {
    0% { width: 0; }
    100% { width: 100%; }
}



.info-container {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

#timeContainer, #chanceContainer, #beforeSignalContainer {
    color: #aaa; /* серый цвет для текста */
    margin: 5px 0;
}

.info-line {
    border: none;
    height: 1px;
    background-color: #444;
    margin: 5px 0;
}

.button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 15px 0;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: #45a049;
}